<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <title>Community Garden</title>
        </head>
        <body>
            <div id=wrapper>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/">Community Garden</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/information">Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/volunteer">Volunteer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="jumbotron">
                    <h1 class="display-4">The Community Garden</h1>
                    <p class="lead">Rent a Plot!</p>
                </div>
                    <div class="box">
                        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                        <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="315mm"
   height="446mm"
   viewBox="0 0 210 297"
   version="1.1"
   id="svg8"
   sodipodi:docname="FinalImage2.svg"
   inkscape:version="1.0.2 (e86c870879, 2021-01-15)">
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="1366"
     inkscape:window-height="705"
     id="namedview122"
     showgrid="false"
     inkscape:zoom="0.9585578"
     inkscape:cx="452.75769"
     inkscape:cy="304.54306"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1"
     inkscape:current-layer="svg8"
     inkscape:document-rotation="0"
     inkscape:lockguides="false"
     showguides="true"
     inkscape:guide-bbox="true" />
  <title
     id="title130">FinalImage3</title>
  <defs
     id="defs2" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title>FinalImage3</dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:groupmode="layer"
     id="layer6"
     inkscape:label="Layer1">
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke-width:0.245771"
       id="rect323"
       width="209.77695"
       height="152.36429"
       x="9.8059786e-07"
       y="13.24907"
       ry="2.9383135" />
  </g>
  <rect
     class="plot"
     id="plot1"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 1"
     width="10.81749"
     height="11.622787"
     x="43.205013"
     y="50.375553" />
  <rect
     class="plot"
     id="plot2"
     data-toggle="modal"
     data-target="#modalForm"
     data-plot="plot 2"
     width="10.519287"
     height="11.336984"
     x="55.436794"
     y="50.375549" />
  <rect
     class="plot"
     id="plot3"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 3"
     width="10.216518"
     height="11.336981"
     x="68.274109"
     y="50.661358" />
  <rect
     class="plot"
     id="plot4"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 4"
     width="19.832064"
     height="9.3363371"
     x="80.379395"
     y="52.090389" />
  <rect
     class="plot"
     id="plot5"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 5"
     width="19.574505"
     height="10.003218"
     x="110.51383"
     y="51.614048" />
  <rect
     class="plot"
     id="plot6"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 6"
     width="10.81749"
     height="11.051172"
     x="131.97711"
     y="50.661358" />
  <rect
     class="plot"
     id="plot7"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 7"
     width="10.903342"
     height="10.860637"
     x="144.51166"
     y="50.851898" />
  <rect
     class="plot"
     id="plot8"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 8"
     width="10.731637"
     height="11.051172"
     x="157.13206"
     y="50.661358" />
  <rect
     class="plot"
     id="plot9"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 9"
     width="6.5248346"
     height="3.9060183"
     x="171.46953"
     y="51.042439" />
  <rect
     class="plot"
     id="plot10"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 10"
     width="6.438982"
     height="4.001287"
     x="171.55539"
     y="57.139637" />
  <rect
     class="plot"
     id="plot11"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 11"
     width="10.645783"
     height="11.051172"
     x="43.11916"
     y="64.094254" />
  <rect
     class="plot"
     id="plot12"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 12"
     width="10.302371"
     height="11.051172"
     x="55.825413"
     y="63.998989" />
  <rect
     class="plot"
     id="plot13"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 13"
     width="10.388225"
     height="10.955905"
     x="68.102409"
     y="64.094254" />
  <rect
     class="plot"
     id="plot14"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 14"
     width="19.660358"
     height="9.8126802"
     x="80.379395"
     y="64.475327" />
  <rect
     class="plot"
     id="plot15"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 15"
     width="19.660358"
     height="9.717411"
     x="110.42798"
     y="64.570602" />
  <rect
     class="plot"
     id="plot16"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 16"
     width="10.474078"
     height="11.051172"
     x="132.32053"
     y="63.617905" />
  <rect
     class="plot"
     id="plot17"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 17"
     width="10.559948"
     height="11.051159"
     x="144.68338"
     y="63.713177" />
  <rect
     class="plot"
     id="plot18"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 18"
     width="10.474078"
     height="11.146442"
     x="157.21793"
     y="63.903717" />
  <rect
     class="plot"
     id="plot19"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 19"
     width="10.474078"
     height="11.336981"
     x="169.66661"
     y="63.617905" />
  <rect
     class="plot"
     id="plot20"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 20"
     width="10.731637"
     height="11.146442"
     x="43.033306"
     y="77.241333" />
  <rect
     class="plot"
     id="plot21"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 21"
     width="10.302371"
     height="11.241711"
     x="55.739563"
     y="77.146072" />
  <rect
     class="plot"
     id="plot22"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 22"
     width="10.388225"
     height="11.146442"
     x="68.016556"
     y="77.241333" />
  <rect
     class="plot"
     id="plot23"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 23"
     width="19.660358"
     height="9.9079494"
     x="80.551109"
     y="77.336609" />
  <rect
     class="plot"
     id="plot24"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 24"
     width="19.488651"
     height="10.098487"
     x="110.59969"
     y="77.336609" />
  <rect
     class="plot"
     id="plot25"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 25"
     width="10.388225"
     height="11.241711"
     x="132.49223"
     y="76.574463" />
  <rect
     class="plot"
     id="plot26"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 27"
     width="10.474078"
     height="10.765368"
     x="145.11263"
     y="76.860268" />
  <rect
     class="plot"
     id="plot27"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 27"
     width="10.645783"
     height="11.146442"
     x="157.81889"
     y="76.860268" />
  <rect
     class="plot"
     id="plot28"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 28"
     width="10.81749"
     height="10.860637"
     x="170.4393"
     y="76.860268" />
  <rect
     class="plot"
     id="plot29"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 29"
     width="10.55993"
     height="11.336981"
     x="183.40309"
     y="76.574463" />
  <rect
     class="plot"
     id="plot30"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 30"
     width="19.917915"
     height="21.435467"
     x="37.10944"
     y="89.626282" />
  <rect
     class="plot"
     id="plot31"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 31"
     width="19.917915"
     height="21.340197"
     x="58.744423"
     y="89.912079" />
  <rect
     class="plot"
     id="plot32"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 32"
     width="19.873575"
     height="21.626005"
     x="80.423744"
     y="89.912079" />
  <rect
     class="plot"
     id="plot33"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 33"
     width="20.347183"
     height="21.816542"
     x="110.08457"
     y="89.626282" />
  <rect
     class="plot"
     id="plot34"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 34"
     width="20.202288"
     height="21.911808"
     x="132.29372"
     y="89.626282" />
  <rect
     class="plot"
     id="plot35"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 35"
     width="19.87442"
     height="22.007078"
     x="154.1707"
     y="89.626282" />
  <rect
     class="plot"
     id="plot36"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 36"
     width="20.518888"
     height="21.91181"
     x="175.84804"
     y="89.626282" />
  <rect
     class="plot"
     id="plot37"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 37"
     width="20.175478"
     height="21.626003"
     x="36.851883"
     y="113.34819" />
  <rect
     class="plot"
     id="plot38"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 38"
     width="19.917915"
     height="21.721273"
     x="58.830273"
     y="113.25292" />
  <rect
     class="plot"
     id="plot39"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 39"
     width="20.276239"
     height="21.826317"
     x="80.208229"
     y="113.32806" />
  <rect
     class="plot"
     id="plot40"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 40"
     width="20.458363"
     height="22.028412"
     x="109.95481"
     y="113.12596" />
  <rect
     class="plot"
     id="plot41"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 41"
     width="20.397654"
     height="21.826317"
     x="131.99156"
     y="113.12596" />
  <rect
     class="plot"
     id="plot42"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 42"
     width="20.154825"
     height="22.095778"
     x="154.02832"
     y="113.12596" />
  <rect
     class="plot"
     id="plot43"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 43"
     width="20.761896"
     height="22.028412"
     x="175.64012"
     y="113.26069" />
  <rect
     class="plot"
     id="plot44"
     data-toggle="modal"
     data-target="#modalForm"
     data-whatever="plot 44"
     width="22.784725"
     height="21.849283"
     x="124.34715"
     y="137.17609" />
  <style
     type="text/css"
     id="style117">
.plot { 
    fill:#ABC663;
    stroke-width:0.264583;
}
  .plot-highlight{
	fill: #065c0d;
    opacity: 1;
	stroke-width:0.264583
	}
	.plot-used{
	fill: #3a1b02;
    opacity: 1;
	stroke-width:0.264583
    }
    .other-plots{
    opacity:1;
    fill:#FFF8C2 ;
    stroke-width:0.253227;
    }
  </style>
  <script
     id="script119">
		var plots = document.getElementsByClassName('plot');
        for (var i = 0; i < plots.length; i++) {
            plots[i].addEventListener('mouseover', mouseOverEffect);
            plots[i].addEventListener('mouseout', mouseOutEffect);
            plots[i].addEventListener('submit',onSumbitEffect)
        }

        function mouseOverEffect() {
            this.classList.add("plot-highlight");
        }
        function mouseOutEffect() {
            this.classList.remove("plot-highlight");
        }
        function onSumbitEffect(){
            this.classList.add("plot-used");
        }
  </script>
  <rect
     class="other-plots"
     id="ShadedStructure"
     width="10.01911"
     height="18.989017"
     x="183.39001"
     y="51.869789"/>
  <rect
     class="other-plots"
     id="Pergola"
     width="13.831692"
     height="12.593751"
     x="62.894703"
     y="141.10832"/>
  <rect
     class="other-plots"
     id="CompostBins"
     width="14.807001"
     height="4.8210454"
     x="134.18111"
     y="24.71451"/>
  <rect
    class="other-plots"
     id="Shed"
     width="9.6644506"
     height="15.938967"
     x="154.75131"
     y="25.206455"/>
  <rect
     class="other-plots"
     id="PumpkinPatch"
     width="15.693649"
     height="28.139164"
     x="20.867643"
     y="44.490635"/>
  <rect
     class="other-plots"
     id="Strawberries"
     width="8.1488667"
     height="34.906796"
     x="2.8772085"
     y="29.754965"
     ry="6.2997484"
     rx="4.0744333"
     transform="matrix(0.97576234,-0.21883294,0.14254163,0.98978881,0,0)" />
  <rect
     class="other-plots"
     id="Rhubarb/Strawberries"
     width="26.68807"
     height="12.101808"
     x="24.857555"
     y="29.142002"
     rx="4.0136366"
     ry="7.2936015" />
  <rect
     class="other-plots"
     id="other-plots"
     width="10.01911"
     height="7.6743178"
     x="53.407585"
     y="33.667881"
     rx="3.813622"
     ry="6.344841"
     inkscape:label="Herbs" />
  <rect
     class="other-plots"
     id="GroundArch"
     width="27.39739"
     height="12.495362"
     x="70.697197"
     y="29.240395"
     rx="4.1787558"
     ry="6.344841"/>
  <rect
     class="other-plots"
     id="Rasberries"
     width="112.60416"
     height="6.6063104"
     x="6.5039644"
     y="18.2066"
     ry="2.9516604"/>
  <rect
    class="other-plots"
     id="Grapes"
     width="73.23703"
     height="5.2146001"
     x="123.18668"
     y="17.925692"
     ry="2.6073" />
  <rect
     class="other-plots"
     id="Currants"
     width="6.2065277"
     height="17.906742"
     x="197.75369"
     y="18.122469"
     ry="1.426636" />
  <g
     inkscape:groupmode="layer"
     id="layer3"
     inkscape:label="Layer2">
    <g
       inkscape:groupmode="layer"
       id="layer5"
       inkscape:label="Layer3" />
  </g>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="55.575069"
     y="21.5229"
     id="text83"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       x="55.575069"
       y="21.5229"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
       id="tspan85">Rasberries</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="34.390678"
     y="-6.9225292"
     id="text91"
     transform="matrix(0.14641594,1.0384199,-0.93832111,0.17504003,0,0)"
     inkscape:transform-center-x="-7.1725521"
     inkscape:transform-center-y="-2.305576"><tspan
       sodipodi:role="line"
       id="tspan89"
       x="34.390678"
       y="-6.9225292"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">Strawberries</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="50.386585"
     y="-29.357962"
     id="text95"
     transform="matrix(0.02703432,1.0529823,-0.9489134,0.02999922,0,0)"><tspan
       sodipodi:role="line"
       id="tspan93"
       x="50.386585"
       y="-29.357962"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">Pumpkin</tspan><tspan
       sodipodi:role="line"
       x="50.386585"
       y="-24.715448"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
       id="tspan97">   Pie</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="28.600842"
     y="32.089931"
     id="text101"
     transform="scale(0.94929843,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan99"
       x="28.600842"
       y="32.089931"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">Rhubarb/</tspan><tspan
       sodipodi:role="line"
       x="28.600842"
       y="36.732445"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
       id="tspan103">Strawberries</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="57.635292"
     y="36.845093"
     id="text107"
     transform="scale(0.94929843,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan105"
       x="57.635292"
       y="36.845093"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">Herb</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="78.742767"
     y="34.471806"
     id="text111"
     transform="scale(0.94929843,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan109"
       x="78.742767"
       y="34.471806"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">Ground Arch</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="162.8304"
     y="20.730375"
     id="text115"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan113"
       x="162.8304"
       y="20.730375"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">Grapes</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="141.96053"
     y="30.769049"
     id="text119"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan117"
       x="141.96053"
       y="30.769049"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">Compost</tspan><tspan
       sodipodi:role="line"
       x="141.96053"
       y="35.41156"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
       id="tspan121">     Bins</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="164.41547"
     y="31.561577"
     id="text125"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan123"
       x="164.41547"
       y="31.561577"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">Shed</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="25.490318"
     y="-209.71632"
     id="text129"
     transform="matrix(0.03072191,1.0528577,-0.94880119,0.03409123,0,0)"><tspan
       sodipodi:role="line"
       id="tspan127"
       x="25.490318"
       y="-209.71632"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">Currants</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="45.277065"
     y="-201.03369"
     id="text133"
     transform="matrix(-0.02451571,1.0530582,-0.9489818,-0.02720439,0,0)"><tspan
       sodipodi:role="line"
       id="tspan131"
       x="45.277065"
       y="-201.03369"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">Shade</tspan><tspan
       sodipodi:role="line"
       x="45.277065"
       y="-196.39117"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
       id="tspan135">Structure</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="66.82827"
     y="141.1945"
     id="text139"
     transform="scale(0.94929843,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan137"
       x="66.82827"
       y="141.1945"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">Pergola</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="50.291553"
     y="51.638931"
     id="text143"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan141"
       x="50.291553"
       y="51.638931"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">1</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="62.443638"
     y="51.374756"
     id="text147"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan145"
       x="62.443638"
       y="51.374756"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">2</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="76.444946"
     y="51.638931"
     id="text151"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan149"
       x="76.444946"
       y="51.638931"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">3</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="93.880547"
     y="52.695633"
     id="text155"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan153"
       x="93.880547"
       y="52.695633"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">4</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="125.84581"
     y="52.431461"
     id="text159"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan157"
       x="125.84581"
       y="52.431461"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">5</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="143.54558"
     y="51.903107"
     id="text163"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan161"
       x="143.54558"
       y="51.903107"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">6</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="156.75436"
     y="51.374756"
     id="text167"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan165"
       x="156.75436"
       y="51.374756"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">7</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="170.4915"
     y="51.110577"
     id="text171"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan169"
       x="170.4915"
       y="51.110577"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">8</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="183.17194"
     y="51.37476"
     id="text175"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan173"
       x="183.17194"
       y="51.37476"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">9</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="181.85106"
     y="57.450798"
     id="text179"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan177"
       x="181.85106"
       y="57.450798"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">10</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="49.763203"
     y="63.526833"
     id="text183"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan181"
       x="49.763203"
       y="63.526833"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">11</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="62.443638"
     y="63.791019"
     id="text187"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan185"
       x="62.443638"
       y="63.791019"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">12</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="75.124069"
     y="63.791019"
     id="text191"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan189"
       x="75.124069"
       y="63.791019"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">13</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="92.295502"
     y="64.055191"
     id="text195"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan193"
       x="92.295502"
       y="64.055191"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">14</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="125.84581"
     y="64.055191"
     id="text199"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan197"
       x="125.84581"
       y="64.055191"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">15</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="143.01723"
     y="63.262657"
     id="text203"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan201"
       x="143.01723"
       y="63.262657"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">16</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="155.96184"
     y="63.52684"
     id="text207"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan205"
       x="155.96184"
       y="63.52684"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">17</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="169.69899"
     y="63.52684"
     id="text211"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan209"
       x="169.69899"
       y="63.52684"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">18</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="182.64359"
     y="63.52684"
     id="text215"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan213"
       x="182.64359"
       y="63.52684"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">19</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="48.970676"
     y="76.735619"
     id="text219"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan217"
       x="48.970676"
       y="76.735619"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">20</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="62.179459"
     y="76.471451"
     id="text223"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan221"
       x="62.179459"
       y="76.471451"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">21</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="75.388245"
     y="76.471443"
     id="text227"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan225"
       x="75.388245"
       y="76.471443"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">22</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="92.823845"
     y="76.471451"
     id="text231"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan229"
       x="92.823845"
       y="76.471451"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">23</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="125.84581"
     y="76.471451"
     id="text235"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan233"
       x="125.84581"
       y="76.471451"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">24</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="143.2814"
     y="75.678925"
     id="text239"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan237"
       x="143.2814"
       y="75.678925"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">25</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="155.96184"
     y="76.207275"
     id="text243"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan241"
       x="155.96184"
       y="76.207275"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">26</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="170.22733"
     y="76.735619"
     id="text247"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan245"
       x="170.22733"
       y="76.735619"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">27</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="183.43611"
     y="76.207275"
     id="text251"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan249"
       x="183.43611"
       y="76.207275"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">28</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="197.70161"
     y="75.150574"
     id="text255"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan253"
       x="197.70161"
       y="75.150574"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">29</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="47.649796"
     y="88.623535"
     id="text259"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan257"
       x="47.649796"
       y="88.623535"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">30</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="70.368904"
     y="88.623535"
     id="text263"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan261"
       x="70.368904"
       y="88.623535"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">31</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="93.352196"
     y="88.887711"
     id="text267"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan265"
       x="93.352196"
       y="88.887711"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">32</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="125.05328"
     y="88.35936"
     id="text271"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan269"
       x="125.05328"
       y="88.35936"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">33</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="148.03658"
     y="88.623535"
     id="text275"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan273"
       x="148.03658"
       y="88.623535"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">34</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="170.4915"
     y="88.887718"
     id="text279"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan277"
       x="170.4915"
       y="88.887718"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">35</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="193.73897"
     y="88.095184"
     id="text283"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan281"
       x="193.73897"
       y="88.095184"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">36</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="47.38562"
     y="110.55013"
     id="text287"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan285"
       x="47.38562"
       y="110.55013"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">37</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="70.633087"
     y="111.07848"
     id="text291"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan289"
       x="70.633087"
       y="111.07848"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">38</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="93.08802"
     y="110.81429"
     id="text295"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan293"
       x="93.08802"
       y="110.81429"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">39</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="124.52493"
     y="111.07846"
     id="text299"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan297"
       x="124.52493"
       y="111.07846"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">40</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="147.77238"
     y="111.34266"
     id="text303"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan301"
       x="147.77238"
       y="111.34266"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">41</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="171.01985"
     y="111.07848"
     id="text307"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan305"
       x="171.01985"
       y="111.07848"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">42</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="194.26732"
     y="111.07846"
     id="text311"
     transform="scale(0.94929842,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan309"
       x="194.26732"
       y="111.07846"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">43</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;line-height:1.25;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227"
     x="141.63976"
     y="134.05959"
     id="text315"
     transform="scale(0.94929843,1.0534095)"><tspan
       sodipodi:role="line"
       id="tspan313"
       x="141.63976"
       y="134.05959"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.71401px;font-family:Cambria;-inkscape-font-specification:'Cambria, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.253227">44</tspan></text>
</svg>

                    </div>


<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Plot Registration Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="plotnumber">Plot Number</label>
  <input class="form-control" id="plotnumber" type="text" placeholder=" " readonly>
  </div>
  <div class="form-group">
    <label for="chosenCrop">Plant you are growing</label>
    <textarea class="form-control" id="chosenCrop" rows="1"></textarea>
  </div>
  <div class="input-group date" id="datetimepicker1">
    <label for="picker">Choose your date</label>
  <input type="text" id="picker" class="form-control">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="subbtn" type="submit" data-dismiss="modal" class="btn btn-primary">submit</button>
      </form>
      </div>
    </div>
  </div>
</div>
                </div>    
        <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $('#modalForm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
         // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-body #plotnumber').val(recipient)
    })

  $(function() {
            $('#datetimepicker1').datetimepicker();
        });

    
    </script>
    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>