.jumbotron{
   background-color: #ABC663;
   color: white;
}


   .left, .right, .center {
      float: left;
      width: 33%;
      color: white;
      padding: 10px;
      height: 500px;
      text-align: center;
   }
   .left {
      background-image: url("/images/Water.png");
      background-position: center;
      background-size: cover;
      
   }
   .right {
      background-image: url("/images/CleanUp.png");
      background-position: center;
      background-size: cover;
   }
   .center {
      background-image: url("/images/Maintinance.png");
      background-position: center;
      background-size: cover;
   }
   .container:after {
      clear: both;
   }
   #popup {
      width: 500px;
      height: 570px;
      margin: 0 auto;
      box-shadow: 1px 1px 1px 1px rgb(97, 97, 97);
      display: none;
    }
    #popup iframe {
      width: 100%;
      height: 100%
    }

    .calendar{
       background-color: cadetblue;
    }
